
  <div class="container">
    <h3>Restaurant Invoice</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Full name</th>
            <th>Restaurent name</th>
            <th>Average Daily Transaction</th>
            <th>Address line 1</th>
            <th>State</th>
            <th>Pin </th>
            <th>Place</th>
            <th>Land mark</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Country</th>
            
          </tr>
        </thead>
        <tbody >
          <tr *ngFor='let i of table'>
            <td>{{i.id}}</td>
            <td> Street resto</td>
            <td>2,00,000</td>
            <td>bangalore</td>
            <td>Karnataka</td>
            <td>51249</td>
            <td>jaynagar</td>
            <td>oreon mall</td>
            <td>9482236703</td>
            <td>example@gmail.com</td>
            <td>India</td>
          </tr>
          <!-- <tr>
            <td>Jane Doe</td>
            <td>567 First Avenue</td>
            <td>(987) 654-3210</td>
            <td>Fries</td>
            <td>$5.00</td>
            <td>3</td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td>John Smith</td>
            <td>902 Second Street</td>
            <td>(321) 987-6543</td>
            <td>Pizza</td>
            <td>$15.00</td>
            <td>1</td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Total:</td>
            <td>$50.00</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
